$fontSize: 12pt;

$colorKon: #4d549a;

$fontSet-Serif: 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', '游明朝', 'Yu Mincho', '游明朝体',
  'YuMincho', 'ＭＳ Ｐ明朝', 'MS PMincho', serif;

$fontSet-SansSerif: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo',
  '游ゴシック', 'Yu Gothic', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;

* {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-size: 0;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  h7 {
    font-family: $fontSet-Serif;
  }

  > * {
    display: block;

    font-size: $fontSize;
    font-family: $fontSet-SansSerif;
    max-width: 80%;

    margin: 0 auto;

    overflow: hidden;

    img {
      max-width: 200px;
    }
  }

  > header {
    overflow: hidden;
    min-height: 3em;
    height: 500px;

    background-color: $colorKon;

    > h1 {
      text-align: center;

      padding: 30px 0;

      img.logo {
        max-width: fit-content;
        width: 60%;

        display: block;
        margin: 0 auto;

        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(315deg) brightness(102%)
          contrast(102%);
      }
    }

    ul {
      padding: 0;
      display: block;
      margin: 0 auto;
      text-align: center;

      li {
        list-style: none;
        display: inline-block;

        a {
          color: #ffffff;
        }
      }
    }
  }

  > footer {
    min-height: 5em;
    background-color: $colorKon;
  }

  > section {
    padding: 15px 20px;

    border-radius: 10px;

    h2,
    h3 {
      text-align: center;
    }

    h2 {
      text-align: center;
      font-size: 24pt;
      height: 3em;
    }

    dl {
      dt {
        display: inline-block;
      }
      dd {
        display: inline-block;
      }
    }

    .googleMap {
      width: 600px;
      height: 450px;
      display: block;
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: 959px) {
  /* 959px以下に適用されるCSS（タブレット用） */

  body {
    > * {
      margin: 0;
    }

    > section {
      .googleMap {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  /* 480px以下に適用されるCSS（スマホ用） */
}
